.btn {
  color: white;
  background-color: $first-color;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: black;
    }
  }

  &:hover {
    background-color: $secound-color;
    color: black;
  }
}