.carousel {
  .carousel-circle {
    bottom: 20%;
    gap: 4px;
    z-index: 10;

    @media (max-width: 768px) {
      bottom: 5%;
    }

    button {
      background-color: white;
      width: 13px;
      height: 13px;
      border: none;
      border-radius: 50%;

    }

    button.active {
      background-color: $first-color;
      width: 20px;
      height: 20px;
    }
  }

  .carousel-item {
    .overlay {
      background-color: rgba(0, 0, 0, .3);
    }

    height: 100vh;
    max-height: 100vh;

    img {
      height: 100%;
      object-fit: cover;
    }

    .landing-caption {
      z-index: 10;
      transform: translate(0%, 50%);
      bottom: 55%;
      color: #fff;

      @media (min-width: 768px) {
        width: 50%;
      }

      h2 {
        font-family: "Dancing Script", cursive;
        font-size: 3rem;
      }

      p {
        font-size: .9rem;
      }
    }

  }
}